SHOPIFY_API_KEY="801b072184a9733e9c66dc11391a28a5"
SHOPIFY_API_SECRET="apna-secret-yahan-paste-karo"
SCOPES="read_products,write_products"
HOST="https://your-app-url.com"

# Replicate API - https://replicate.com/account/api-tokens
REPLICATE_API_TOKEN="baad-mein-dalna"

# Database
DATABASE_URL="file:./dev.db"
